.App {
  text-align: center;
}

.header {
  border: 1px solid red;
  background: black;
  color: white;
  width: 100vw;
  height: 130px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.contactlink {
  position: left;
}

.headertext {
  text-align: center;
  border: 1px solid blue;
}

.link {
  border: 1px solid coral;
}

/* .main {
  background: white;
} */

.title {
  padding-top: 10px;
}

.linkbar {
  padding-top: 30px;
}

.abouttext {
  background-image: url('../img/cobbles.jpg');
  min-height: 100px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.workstext {
  background-image: url('../img/longbeach.jpg');
  min-height: 100px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.contacttext {
  background-image: url('../img/laptop.jpg');
  min-height: 100px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
