.App {
  text-align: center;
}

.header {
  background-color: rgba(179, 243, 179, 0.5);
  color: black;
  width: 100vw;
  height: auto;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.headertext {
  text-align: center;
  font-family: 'Lexend Deca', sans-serif;
  font-size: 34px;
}

/* .link {
  font-size: 20px;
} */

.link:hover {
  text-shadow: 1px 1px 0px;
}

.title {
  padding-top: 10px;
}

.linkbar {
  padding-top: 10px;
  font-size: 20px;
  font-family: 'Lexend Deca', sans-serif;
}

.aboutheader {
  background-image: url('../img/cobbles.jpg');
  padding-top: 15px;
  min-height: 130px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.worksheader {
  background-image: url('../img/longbeach.jpg');
  padding-top: 15px;
  min-height: 130px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.contactheader {
  background-image: url('../img/laptop.jpg');
  padding-top: 15px;
  min-height: 130px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.abouttext {
  height: auto;
}

.workstext {
  height: 100vh;
}

.contacttext {
  height: 100vh;
}

.aboutheadertext {
  font-family: 'Liu Jian Mao Cao', cursive;
  color: black;
  font-size: 60px;
  border: 7px solid white;
  border-radius: 25px;
  border-top: 0px;
  background-color: white;
}

.worksheadertext {
  font-family: 'Liu Jian Mao Cao', cursive;
  color: black;
  font-size: 60px;
  border: 7px solid white;
  border-radius: 25px;
  border-top: 0px;
  background-color: white;
}

.contactheadertext {
  font-family: 'Liu Jian Mao Cao', cursive;
  color: black;
  font-size: 60px;
  border: 7px solid white;
  border-radius: 25px;
  border-top: 0px;
  background-color: white;
}

.contactinfo {
  color: black;
  font-size: 34px;
  font-weight: bold;
  text-align: center;
}

.contactinfo:hover {
  text-decoration: none;
}

.contactcontainer {
  padding-top: 100px;
}

.footer {
  border: 1px black;
  background-color: white;
  color: black;
  width: 100vw;
  height: auto;
  position: -webkit-sticky;
  position: fixed;
  bottom: 0;
}

.footerlink {
  color: black;
  font-size: 10px;
  font-family: 'Lexend Deca', sans-serif;
  text-decoration: none;
}

.footerlink:hover {
  text-decoration: none;
}

.smlink {
  /* padding: 5px; */
}

.picture {
  padding: 20px;
  float: left;
  width: 150px;
  height: auto;
}

.aboutbody {
  padding: 20px;
}
